NorthWind-WebApp/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FirstCustomer">
        <s:complexType />
      </s:element>
      <s:element name="FirstCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstCustomerResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LastCustomer">
        <s:complexType />
      </s:element>
      <s:element name="LastCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LastCustomerResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NextCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NextCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NextCustomerResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrevCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrevCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrevCustomerResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_Customer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_CustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Add_CustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Customer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_CustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_CustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Customer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_CustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_CustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrdersData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cust" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrdersDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdersDataResult" type="tns:ArrayOfOrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetails" nillable="true" type="tns:OrderDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlaceOrderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProdID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddProductsResult" type="tns:ArrayOfProducts" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Products" nillable="true" type="tns:Products" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Products">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmpID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddEmployeesResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FirstCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:FirstCustomer" />
  </wsdl:message>
  <wsdl:message name="FirstCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:FirstCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="LastCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:LastCustomer" />
  </wsdl:message>
  <wsdl:message name="LastCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:LastCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="NextCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:NextCustomer" />
  </wsdl:message>
  <wsdl:message name="NextCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:NextCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="PrevCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:PrevCustomer" />
  </wsdl:message>
  <wsdl:message name="PrevCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:PrevCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="Add_CustomerSoapIn">
    <wsdl:part name="parameters" element="tns:Add_Customer" />
  </wsdl:message>
  <wsdl:message name="Add_CustomerSoapOut">
    <wsdl:part name="parameters" element="tns:Add_CustomerResponse" />
  </wsdl:message>
  <wsdl:message name="Update_CustomerSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Customer" />
  </wsdl:message>
  <wsdl:message name="Update_CustomerSoapOut">
    <wsdl:part name="parameters" element="tns:Update_CustomerResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_CustomerSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Customer" />
  </wsdl:message>
  <wsdl:message name="Delete_CustomerSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_CustomerResponse" />
  </wsdl:message>
  <wsdl:message name="OrdersDataSoapIn">
    <wsdl:part name="parameters" element="tns:OrdersData" />
  </wsdl:message>
  <wsdl:message name="OrdersDataSoapOut">
    <wsdl:part name="parameters" element="tns:OrdersDataResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddProductsSoapIn">
    <wsdl:part name="parameters" element="tns:AddProducts" />
  </wsdl:message>
  <wsdl:message name="AddProductsSoapOut">
    <wsdl:part name="parameters" element="tns:AddProductsResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployees" />
  </wsdl:message>
  <wsdl:message name="AddEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="FirstCustomer">
      <wsdl:input message="tns:FirstCustomerSoapIn" />
      <wsdl:output message="tns:FirstCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LastCustomer">
      <wsdl:input message="tns:LastCustomerSoapIn" />
      <wsdl:output message="tns:LastCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NextCustomer">
      <wsdl:input message="tns:NextCustomerSoapIn" />
      <wsdl:output message="tns:NextCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrevCustomer">
      <wsdl:input message="tns:PrevCustomerSoapIn" />
      <wsdl:output message="tns:PrevCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add_Customer">
      <wsdl:input message="tns:Add_CustomerSoapIn" />
      <wsdl:output message="tns:Add_CustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Customer">
      <wsdl:input message="tns:Update_CustomerSoapIn" />
      <wsdl:output message="tns:Update_CustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Customer">
      <wsdl:input message="tns:Delete_CustomerSoapIn" />
      <wsdl:output message="tns:Delete_CustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrdersData">
      <wsdl:input message="tns:OrdersDataSoapIn" />
      <wsdl:output message="tns:OrdersDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderSoapIn" />
      <wsdl:output message="tns:PlaceOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <wsdl:input message="tns:AddProductsSoapIn" />
      <wsdl:output message="tns:AddProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployees">
      <wsdl:input message="tns:AddEmployeesSoapIn" />
      <wsdl:output message="tns:AddEmployeesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FirstCustomer">
      <soap:operation soapAction="http://tempuri.org/FirstCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastCustomer">
      <soap:operation soapAction="http://tempuri.org/LastCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextCustomer">
      <soap:operation soapAction="http://tempuri.org/NextCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrevCustomer">
      <soap:operation soapAction="http://tempuri.org/PrevCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Customer">
      <soap:operation soapAction="http://tempuri.org/Add_Customer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Customer">
      <soap:operation soapAction="http://tempuri.org/Update_Customer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Customer">
      <soap:operation soapAction="http://tempuri.org/Delete_Customer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdersData">
      <soap:operation soapAction="http://tempuri.org/OrdersData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://tempuri.org/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <soap:operation soapAction="http://tempuri.org/AddProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployees">
      <soap:operation soapAction="http://tempuri.org/AddEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FirstCustomer">
      <soap12:operation soapAction="http://tempuri.org/FirstCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastCustomer">
      <soap12:operation soapAction="http://tempuri.org/LastCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextCustomer">
      <soap12:operation soapAction="http://tempuri.org/NextCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrevCustomer">
      <soap12:operation soapAction="http://tempuri.org/PrevCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Customer">
      <soap12:operation soapAction="http://tempuri.org/Add_Customer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Customer">
      <soap12:operation soapAction="http://tempuri.org/Update_Customer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Customer">
      <soap12:operation soapAction="http://tempuri.org/Delete_Customer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdersData">
      <soap12:operation soapAction="http://tempuri.org/OrdersData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <soap12:operation soapAction="http://tempuri.org/AddProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployees">
      <soap12:operation soapAction="http://tempuri.org/AddEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44346/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44346/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>